/*Between @fxZIndexPopUp (ContextMenu) & @fxZIndexSlideOut (Slideout) */
/*Match the @formElementHeight with border into consideration. */
/* !importants ensure that we override theming */
/**
 * Numbers and adornment text formatting
 */
.azc-toolbar .azc-toolbar-container {
  display: inline-block;
}
.azc-toolbar .azc-toolbar-container .azc-toolbar-group {
  display: inline-block;
}
.azc-toolbar .azc-toolbar-container .azc-toolbar-item {
  position: relative;
  height: 50px;
  width: 50px;
  padding: 1px;
}
