/*Between @fxZIndexPopUp (ContextMenu) & @fxZIndexSlideOut (Slideout) */
/*Match the @formElementHeight with border into consideration. */
/* !importants ensure that we override theming */
/**
 * Numbers and adornment text formatting
 */
.azc-grid.azc-grid-scrollable {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.azc-grid.azc-grid-scrollable div.azc-grid-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.azc-grid.azc-grid-scrollable div.azc-grid-container div.azc-grid-tableContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 40px;
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.azc-grid.azc-grid-scrollable div.azc-grid-container div.azc-grid-tableContainer div.azc-grid-tableScrollContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.azc-grid.azc-grid-scrollable div.azc-grid-container div.azc-grid-tableContainer div.azc-grid-tableScrollContainer table.azc-grid-tableHeader {
  position: absolute;
  top: 0;
  left: 0;
}
