/*Between @fxZIndexPopUp (ContextMenu) & @fxZIndexSlideOut (Slideout) */
/*Match the @formElementHeight with border into consideration. */
/* !importants ensure that we override theming */
/**
 * Numbers and adornment text formatting
 */
.azc-button {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 60px;
  font-family: wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding: 1px 6px;
  height: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.azc-button:focus {
  outline-width: 1px;
  outline-style: solid;
}
.azc-button img {
  vertical-align: middle;
}
