/*Between @fxZIndexPopUp (ContextMenu) & @fxZIndexSlideOut (Slideout) */
/*Match the @formElementHeight with border into consideration. */
/* !importants ensure that we override theming */
/**
 * Numbers and adornment text formatting
 */
.azc-numericTextBox {
  display: inline-block;
  height: 23px;
}
.azc-numericTextBox .azc-numericTextBox-wrapper {
  width: 100%;
}
.azc-numericTextBox .azc-numericTextBox-wrapper input {
  height: 23px;
}
.azc-numericTextBox .azc-numericTextBox-wrapper textarea {
  height: 100%;
}
.azc-numericTextBox .azc-numericTextBox-wrapper input,
.azc-numericTextBox .azc-numericTextBox-wrapper textarea {
  font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 400;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 3px 8px 4px;
  outline: none;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
}
.azc-numericTextBox .azc-numericTextBox-wrapper input::-webkit-input-placeholder,
.azc-numericTextBox .azc-numericTextBox-wrapper textarea::-webkit-input-placeholder {
  font-style: italic;
}
.azc-numericTextBox .azc-numericTextBox-wrapper input:-ms-input-placeholder,
.azc-numericTextBox .azc-numericTextBox-wrapper textarea:-ms-input-placeholder {
  font-style: italic;
}
.azc-numericTextBox .azc-numericTextBox-wrapper input::-moz-placeholder,
.azc-numericTextBox .azc-numericTextBox-wrapper textarea::-moz-placeholder {
  font-style: italic;
}
