/*Between @fxZIndexPopUp (ContextMenu) & @fxZIndexSlideOut (Slideout) */
/*Match the @formElementHeight with border into consideration. */
/* !importants ensure that we override theming */
/**
 * Numbers and adornment text formatting
 */
.azc-password-strengthIndicator .azc-password-strengthIndicator-veryweak {
  background-color: #ec008c;
}
.azc-password-strengthIndicator .azc-password-strengthIndicator-weak {
  background-color: #ff7700;
}
.azc-password-strengthIndicator .azc-password-strengthIndicator-fair {
  background-color: #ffff00;
}
.azc-password-strengthIndicator .azc-password-strengthIndicator-strong {
  background-color: #77ff00;
}
.azc-password-strengthIndicator .azc-password-strengthIndicator-verystrong {
  background-color: #00ff00;
}
.azc-password {
  display: inline-block;
  height: 23px;
}
.azc-password .azc-password-wrapper {
  width: 100%;
}
.azc-password .azc-password-wrapper input {
  height: 23px;
}
.azc-password .azc-password-wrapper textarea {
  height: 100%;
}
.azc-password .azc-password-wrapper input,
.azc-password .azc-password-wrapper textarea {
  font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 400;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 3px 8px 4px;
  outline: none;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
}
.azc-password .azc-password-wrapper input::-webkit-input-placeholder,
.azc-password .azc-password-wrapper textarea::-webkit-input-placeholder {
  font-style: italic;
}
.azc-password .azc-password-wrapper input:-ms-input-placeholder,
.azc-password .azc-password-wrapper textarea:-ms-input-placeholder {
  font-style: italic;
}
.azc-password .azc-password-wrapper input::-moz-placeholder,
.azc-password .azc-password-wrapper textarea::-moz-placeholder {
  font-style: italic;
}
