/*Between @fxZIndexPopUp (ContextMenu) & @fxZIndexSlideOut (Slideout) */
/*Match the @formElementHeight with border into consideration. */
/* !importants ensure that we override theming */
/**
 * Numbers and adornment text formatting
 */
.azc-searchBox {
  position: relative;
  display: inline-block;
  font-size: 12px;
  padding-right: 30px;
  height: 23px;
  font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 400;
}
.azc-searchBox ::-ms-clear {
  display: none;
}
.azc-searchBox.azc-searchBox-state-hidden {
  display: none;
}
.azc-searchBox.azc-searchBox-button-state-hidden {
  padding-right: 0;
}
.azc-searchBox.azc-searchBox-button-state-hidden .azc-button {
  display: none;
}
.azc-searchBox .azc-searchBox-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  padding: 0;
}
.azc-searchBox .azc-searchBox-wrapper .azc-searchBox-input {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.azc-searchBox .azc-searchBox-wrapper .azc-searchBox-input .azc-textBox-wrapper {
  padding-right: 0;
  width: 100%;
}
.azc-searchBox .azc-searchBox-wrapper .azc-searchBox-input .azc-textBox-wrapper input {
  display: inline-block;
  padding-right: 0;
}
.azc-searchBox .azc-button {
  height: 23px;
  width: 23px;
  min-width: 23px;
  font-size: 16px;
  line-height: normal;
  vertical-align: top;
  margin-left: 0;
  border: none;
  top: 0;
  position: absolute;
}
.azc-searchBox .azc-button .azc-searchBox-button-icon {
  position: absolute;
  top: -1px;
  left: 6px;
}
